.css3Carrousel
{
    position: relative;
    overflow: hidden;
}
.css3Carrousel .c3c-container{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.css3Carrousel  .c3c-container ul{
    margin: 0;
    padding: 0;
    height: 100%;
    position: absolute;
    left: 0;
    word-spacing: 5px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.css3Carrousel .c3c-container ul:before{
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;    
}
.css3Carrousel li
{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.c3c-buttons{
    position: absolute;
    height: 100%; 
    width: 100%;
    top:0;
    pointer-events: none;
}
.c3c-button-prev,.c3c-button-next{
}
.c3c-button-prev{
    left:0;    
}
.c3c-button-prev:before{
    content: '<';
}
.c3c-button-next{
    right:0;
}
.c3c-button-next:before{
    content: '>';
}
.c3c-buttons [class*='c3c-button-']{
    position: absolute;
    display: inline-block;
    width: 1em;
    height: 100%;
    background-color: #7cbbfe;
    color: #fff;
    pointer-events: auto;
    cursor: pointer;
}
.c3c-buttons [class*='c3c-button-']:hover{
    background-color: #36a9e1;    
}
.c3c-buttons [class*='c3c-button-']:before{
    position: absolute;
    margin-top: -1em;
    width: 100%;
    text-align: center;
    top: 50%;
}
.c3c-steps-nav{
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0 1em;
    text-align: center;
    width: 100%;
}
.c3c-steps-nav a{
    color: #fff;
    text-decoration: none;
    background-color: #33ADFF;
    padding: 1em;
    display: inline-block;
    border-radius: 50%;
}
.c3c-steps-nav li{
    width: auto;
}
.c3c-steps {
    padding-top: 3em;
}