html,body{
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body{
    padding: 1em;
}
.css3Carrousel{
    width: 670px;
    height: 520px;
    background-color: #ff8000;
    margin: auto;
}

.css3Carrousel li{
    width: 770px;
    margin: 0;
    padding: 0.1em;
}